<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.coupon.CouponMapper">

    <insert id="insertCoupon" parameterType="com.example.hotel.po.Coupon"
            useGeneratedKeys="true" keyProperty="id">
        insert into Coupon(description,couponName,target_money,discount_money,start_time,end_time,hotelId,couponType,discount,status)
        values(#{description},#{couponName},#{targetMoney},#{discountMoney},#{startTime},#{endTime},#{hotelId},#{couponType},#{discount},#{status})
    </insert>

    <select id="selectByHotelId" resultMap="Coupon">
        select * from Coupon where hotelId=#{hotelId}
    </select>


    <resultMap id="Coupon" type="com.example.hotel.po.Coupon">
        <id column="id" property="id"></id>
        <result column="description" property="description"></result>
        <result column="couponName" property="couponName"></result>
        <result column="hotelId" property="hotelId"></result>
        <result column="couponType" property="couponType"></result>
        <result column="discount" property="discount"></result>
        <result column="status" property="status"></result>
        <result column="target_money" property="targetMoney"></result>
        <result column="discount_money" property="discountMoney"></result>
        <result column="start_time" property="startTime"></result>
        <result column="end_time" property="endTime"></result>
    </resultMap>
</mapper>